.post_page__wrapper {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  .header {
    height: 150px;
    align-self: flex-start;

    button {
      margin-left: 5vw;
      margin-top: 50px;
      border: none;
      background-color: $transparent;
      transition: all 0.4s ease-in-out;

      img {
        width: 50px;
        height: auto;
      }
    }
  }

  .content__wrapper {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60vw;

    .text__wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      .profile__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile__img_name {
          display: flex;
          .profile_pic {
            border-radius: 12px;
          }
        }

        a {
          .instagram_img {
            width: 50px;
            height: 50px;
          }
        }

        .fullName__text {
          font-size: 40px;
          margin-left: 20px;
          font-weight: 400;
          align-self: flex-end;
        }
      }

      .description__text {
        margin-top: 20px;
        font-size: 30px;
      }

      .plus_img {
        margin-top: 10px;
        width: 30px;
        height: 30px;
      }
    }

    .img__wrapper {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .picture {
        box-shadow: $postBorderShadow;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
      }

      .img__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .likes__text {
          align-self: flex-start;
          color: $dateColor;
        }
        .date__text {
          color: $dateColor;
        }
      }
    }
  }
}

.header button:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: ease;
}

.header button:active {
  transform: scale(1.1);
}

a .instagram_img:hover {
  cursor: pointer;
}
.plus_img:hover {
  cursor: pointer;
}

.plus_img:active {
  transform: scale(0.95);
}
